*{
    cursor: default;
}

body{
    background: black;
    display: flex;
    justify-content: center;
}

main, .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 500px;
}

.container{
    height: 600px;
    margin-top: 5%;
}

main > div, #calcDisplay{
    display: flex;
    width: 25%;
    height: 20%;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    background: rgb(91, 177, 243);
}

#calcDisplay{
    width: 400px;
    height: 100px;
    background: black;
    color: aliceblue;
    flex-direction: row;
    justify-content: center;
    font-size: xx-large;
    box-shadow: 0 -3px 10px 3px rgb(128, 0, 128);
}

.op{
    background: rgb(144, 89, 195);
}

#clear,
#equals{
    height: 40%;
}

#equals{
    background: rgb(144, 89, 195);
}

#clear{
    background: rgb(219, 39, 75);
}

/* Elements when hovered */
#delete:hover,
.num:hover,
.enabled:hover{
    background: rgba(91, 177, 243, 0.85);
}

#equals:hover,
.op:hover{
    background: rgba(144, 89, 195, 0.85);
}

#clear:hover{
    background: rgba(219, 39, 75, 0.85);
}


/* Elements when clicked */
#delete:active,
.num:active,
.enabled:active{
    background: rgba(91, 177, 243);
}

#equals:active,
.op:active{
    background: rgba(144, 89, 195);
}

#clear:active{
    background: rgba(219, 39, 75);
}

.pulsate {
    animation: pulse 0.5s 1 ease-out;
}

@keyframes pulse {
    0% {
        box-shadow: 0 -3px 10px 3px rgba(128, 0, 128),
                    0 -3px 10px 3px rgba(128, 0, 128);
    }
    100% {
        box-shadow: 0 -3px 10px 1px rgba(128, 0, 128, 1),
                    0 -3px 10px 1px rgba(128, 0, 128, 0.5);
    }
}



@media (max-width: 650px) {

    .container, main{
        width: 300px;
        height: 400px;
    }

    .container{
        height: 480px;
    }

    #calcDisplay{
        width: 300px;
        height: 80px;
    }

    main > div, #calcDisplay{
        font-size: x-large;
    }

}